.searching {
    height: 10vh;
    background-color: #C79369;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 2px black solid;
}

input {
    margin: 0 10px;
    padding: 5px 5px;
}


.finded-movies {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: -1;



}

app-load-spinner {
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
}

input[type=checkbox]:checked+label {
    color: white;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

.checkbox-label {
    font-family: 'Times New Roman', Times, serif;
}

.finded-movies p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.finded-movies h2 {
    color: white;
}

.movie-image {
    padding: 20px;
}

.movie-image img {
    border: 3px solid black;
}

.empty {
    height: 45vh;
}

.search-field {
    background-color: transparent;
    border: none;
    color: white;

}

.search {
    border-bottom: 2px white solid;
    margin-bottom: 5px;
}

i {
    color: white;
}

::placeholder {
    color: white;
    opacity: 50%;
}

input:focus {
    outline-width: 0;
}