<section class="movie-searcher">
    <div class="searching">
        <form action="">
            <input type="text" placeholder="film title..." name="first" [formControl]="search">
            <input type="checkbox" class="check-window" (change)="langSelect($event)" id="lang" name="lang"
                [value]="'pl'">
            <label for="lang" class="checkbox-label">Polish language</label>

        </form>

    </div>
</section>
<section class="finded-movies" [ngClass]="{'empty': !movies.length}">
    <h2 *ngIf="!movies.length">Type title to display movie</h2>
    <app-load-spinner *ngIf="movies.length && !isLoaded"></app-load-spinner>
    <ng-container>
        <div class="movie-image" *ngFor="let movie of movies">
            <img src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" alt="">
            <p>{{movie.original_title}}</p>
        </div>
    </ng-container>
</section>