.searching {
    height: 10vh;
    background-color: #C79369;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

input {
    margin: 0 10px;
    padding: 5px 5px;
}


.finded-movies {
    background-image: url(/assets/images/marvel.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: -1;



}

app-load-spinner {
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
}

.checkbox-label {

    padding: 7px;
    transition: 1s;
    background-color: white;
    border-radius: 15px;
    border: 1px black solid;
}


input[type=checkbox]:checked+label {
    color: white;
    font-style: normal;
    background-color: orangered;

}

.finded-movies p {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.finded-movies h2 {
    color: white;
}

.movie-image {
    padding: 20px;
}

.empty {
    height: 30vh;
}