.title-latest {
    /* height: 20vh; */
    text-align: center;
    /* animation: title-animation 2s infinite; */
    font-size: 50px;
}



/* @keyframes title-animation {
    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }





} */